<div class="page-header">
  <h1>
    Salespeople
    <a href="/salespeople/new" class="btn btn-sm btn-success">New Salesperson</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Salesperson</th>
        <th>Recent Bids</th>
        <th>Actions</th>
      </tr>

      <% @salespeople.each do |salesperson| %>
      <tr>
        <td><a href="/salespeople/<%= salesperson.id %>"><%= salesperson.salesperson %></a></a></td>
        <td>count of recent bids (within last week)</td>
        <td>
          <a href="/salespeople/<%= salesperson.id %>/edit" class="btn-xs btn-warning">Edit</a>
          <a href="/delete_salesperson/<%= salesperson.id %>" class="btn-xs btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
