<div class="page-header">
  <h3>Salesperson #<%= @salesperson.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Salesperson</dt>
      <dd><%= @salesperson.salesperson %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/salespeople" class="btn btn-primary">
        Back
      </a>
      <a href="/salespeople/<%= @salesperson.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_salesperson/<%= @salesperson.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
